@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;

  background-color: #0e0012;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.background-clr {
  @apply bg-[#FF008A];
  /* @apply bg-[#FF008A]; */
}
.text-clr {
  @apply text-[#FF008A];
}
/* custom style */

.neon {
  box-shadow: -6px -6px 12px rgba(167, 127, 252, 0.4),
    6px 6px 12px rgba(167, 127, 252, 0.4);
}

.pricing:nth-child(2) {
  background-color: #7593ff;
}

input[type='text'],
input[type='email'],
textarea {
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid #14dab6;
  letter-spacing: 1.5px;
  font-size: 18px;
  background: none;
  margin-bottom: 1.5rem;
  border-radius: 19px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.content {
  position: fixed;
  width: 20rem;
  height: fit-content;
  max-width: 1170px !important;

  background: #dae2ed;
  /* height: 70vh; */
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  padding: 2rem;
  border-radius: 10px;
  /* margin: 0 auto;
   */
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 95vw;
  }

  .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* .grid-display {
    display: grid;
  } */
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
